.chip .icon_info {
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 8px;
    color: #03a9f4;
}

.chip .icon_alert {
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 8px;
    color: #ff8f00 ;
}

.risk_text {
	font-size: 16px;
	font-weight: 300;
	display:inline-block;
}

.risk_value {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline; 
}

body > .inner {
  display: none;
  visibility: hidden;
}

body.pg-loaded > .inner {
  display: block;
}

.pg-loading-logo
{
    height: 200px;
}
.spinner {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}