...LAKE EFFECT SNOW WATCH NOW IN EFFECT FROM WEDNESDAY AFTERNOON
THROUGH THURSDAY EVENING...

* LOCATIONS...Oneida... Onondaga... and Madison counties.

* HAZARD TYPES...Heavy snow... along with blowing and drifting 
snow.

* ACCUMULATIONS...Snow accumulation of 5 to 10 inches. The
heaviest snowfall will occur in the higher terrain of Onondaga
and Madison counties...and in Oneida county... west of a line
from Camden to Rome to Waterville.

* TIMING...Lake effect snow will intensify Wednesday afternoon and
continue into Thursday before weakening Thursday evening.

* IMPACTS...The heavy snow will make travel very dangerous. 
Roads will become snow covered and slippery.

* WINDS...West 10 to 20 mph... with gusts up to 35 mph.

* TEMPERATURES...In the mid 20s.

A Lake Effect Snow Watch means there is a potential for heavy
lake snow in localized areas. Visibilities and depth of snow can
vary greatly... impacting travel significantly. Continue to
monitor the latest forecasts.