<html>
	<head>
		<title>EmergenTree</title>
	</head>

	<body class="light-blue lighten-5" style="max-width: 100%; overflow-x: hidden; max-height: 100%; overflow-y: hidden;">
	<script type="text/javascript" src="/static/js/please-wait.js"></script>
		<script type="text/javascript">
	      window.loading_screen = window.pleaseWait({
	        logo: "/static/images/logo.png",
	        backgroundColor: '#64B5F6',
	        loadingHtml: '<div style="color: white;font-size: 25px; font-weight: 100; margin-bottom: 10px;">EmergenTree is loading...</div><div class="spinner"></div>'
	      });
	    </script>
	    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/static/css/weather-icons.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/static/css/weather-icons-wind.min.css"  media="screen,projection"/>
		<link href="/static/css/keyboard.css" rel="stylesheet">
		<link href="/static/css/keyboard-basic.css" rel="stylesheet">
		<link href="/static/css/percircle.css" rel="stylesheet">
		<link href="/static/css/please-wait.css" rel="stylesheet">

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link type="text/css" rel="stylesheet" href="/static/css/index.css"  media="screen,projection"/>
		<!--Import jQuery before materialize.js-->
		<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="/static/js/materialize.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script type="text/javascript" src="/static/js/jquery.keyboard.js"></script>
		<script type="text/javascript" src="/static/js/index.js"></script>
		<script type="text/javascript" src="/static/js/percircle.js"></script>
		
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form>
    <h5>Phone Number</h5>
    <p>Enter your phone number to receive notifications when your tree is at risk.</p>
    <div class="input-field col s6">
      <input placeholder="1112223333" id="phone" type="text">
    </div>

    <h5>Update Battery Information</h5>
    <p>Let us know the most recent time you recharged your battery.</p>
     <div class="input-field col s6">
      <input id="battery_date" type="date" class="datepicker">
    </div>
    <a id="save_settings" class="modal-action modal-close  waves-effect waves-light btn" style="margin-top: 10px;">Save</a>
    </form>
    </div>
  </div>
		<nav>
			<div class="nav-wrapper blue lighten-2">
				<img src="/static/images/logo.png" style="margin-left: 0.5%; height: 100%"></img>
				<a href="#" class="brand-logo">EmergenTree</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<!--<li><input id="input_test" placeholder="Example..."></input></li>-->
					<li><a  id="report" href="/report"><i class="material-icons">visibility</i></a></li>
					<li><a class="modal-trigger" href="#modal1" ><i class="material-icons">settings</i></a></li>
				</ul>
			</div>
		</nav>
        <div class="row" style="position: fixed; top: 64; right: 0; bottom: 0; left: 0;">
			<div class="col s7" style="height: 100%">
				<div class="card-panel center-align" style="height: 100%">
				<div id="container" style=""></div>
				</div>
			</div>

			<div class="col s5" style="height: 100%">
				<div class="card" style="height: 100%">
    				<div class="card-content center-align">
    					<div class="row">
    						<div class="col s12 left-align">
    							<div id="day" style="font-size: 25px; font-weight: 300;"></div>
    							<div id="date" style="font-size: 25px; font-weight: 300;  margin-bottom: 5px;"></div>
    							<div id="weather" style="font-size: 20px; font-weight: 100; margin-bottom: 10px;">
    								<span>
    									<span><i id="status" style="font-size: 20px;"></i></span>&nbsp;
    									<i class="wi wi-thermometer" style="font-size: 20px;"></i>&nbsp;<span id="high"></span><i class="wi wi-degrees" style="font-size: 20px;"></i>&nbsp;
    									<i class="wi wi-thermometer-exterior" style="font-size: 20px;"></i>&nbsp;<span id="low"></span><i class="wi wi-degrees" style="font-size: 20px;"></i>&nbsp;
    									<i id="wind_dir" class="wi wi-direction-up-right" style="font-size: 20px;"></i>&nbsp;<span id="wind_speed"></span>&nbsp;<sup>mph</sup>&nbsp;
    									<!-- <span><i class="wi wi-strong-wind"></i>&nbsp;5&nbsp;<span style="font-size: 10px; font-weight: 100;">mph</span></span> -->
    								</span>
    							</div>
    							<p class="risk_text">
    							Your tree is at <span id="risk"></span> of potentially causing damage. <span id="explanation"></span>
								</p>
								<div id="angle_wrapper" style="margin-top: 15px; position: absolute; top: 5; right: 5;"></div>
    						</div>
    					</div>
    					
						<!-- <span class="deep-orange-text text-lighten-1" style="font-size: 30px; font-weight: 700;">HIGH RISK</span></br> -->
						<!-- <span class="amber-text text-lighten-1" style="font-size: 30px; font-weight: 700;">MEDIUM RISK</span></br> -->
						<!-- <span class="green-text text-lighten-1" style="font-size: 30px; font-weight: 700;">LOW RISK</span></br> -->
						<!-- <span class="light-blue-text text-lighten-1" style="font-size: 30px; font-weight: 700;">MINIMAL RISK</span> -->
						
    				</div>

	    			<div id="alert_zone" class="card-action">
	            	</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
$(document).ready(function(e) {
	window.loading_screen.finish();
	$(".close").on('click', function() {
        var tooltip_id = "#" + $(this).parent().attr("data-tooltip-id"); $(tooltip_id).remove();
    });
    $('.modal').modal({
    	startingTop: '5%',
    	endingTop: '5%'
    });
    var $datepicker = $('.datepicker').pickadate();

    update_forms($datepicker);

    $("#save_settings").on('click', function() {
    	var picker = $datepicker.pickadate('picker');
    	var phone = $("#phone").val();
    	var date = picker.get('select', 'yyyy-mm-dd');
  		var settings_url = "http://127.0.0.1:5000/settings?";

  		settings_url += "phone=" + phone + "&";
  		settings_url += "date=" + date;

  		$.ajax({
		    type: 'POST',
		    url: settings_url,
		    success: function(msg){
		        console.log(settings_url);
		    }
		});

    });

    $datepicker.pickadate('picker').on("set", function() {
    	var picker = $datepicker.pickadate('picker');
    	picker.close();
    });
});

function update_forms(obj)
{
    $.ajax({
	type: "GET",
	url: "http://127.0.0.1:5000/get_settings",
	cache: false,
	data: { get_param: 'value' }, 
	dataType: 'json',
	success: function (data) {
		var phone = data.phone;
    	var date = data.date;
    	var picker = obj.pickadate('picker');

    	$("#phone").val(phone);
		picker.set('select', date, { format: 'yyyy-mm-dd' })
	}
	}); 
}
</script>
