
<style>
.chip .icon_info {
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 8px;
    color: #03a9f4;
}

.chip .icon_alert {
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 8px;
    color: #ff8f00 ;
}

.risk_text {
	font-size: 18px;
	font-weight: 300;
	display:inline-block;
}

.risk_value {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline; 
}
</style>
<html>
	<head>
		<title>EmergenTree</title>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/static/css/weather-icons.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/static/css/weather-icons-wind.min.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body style="max-width: 100%; overflow-x: hidden; max-height: 100%; overflow-y: hidden;">
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/static/js/materialize.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
		
		<nav>
			<div class="nav-wrapper blue lighten-2">
				<img src="/static/images/logo.png" style="margin-left: 0.5%; height: 100%"></img>
				<a href="#" class="brand-logo">EmergenTree</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#!"><i class="material-icons">visibility</i></a></li>
					<li><a href="#!"><i class="material-icons">settings</i></a></li>
				</ul>
			</div>
		</nav>

        <div class="row">
			<div class="col s7  light-blue lighten-5" style="height: 100%">
				<div class="card-panel center-align" style="height: 88%">
				<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
				</div>
			</div>

			<div class="col s5  light-blue lighten-5" style="height: 100%">
				<div class="card" style="height: 88%">
    				<div class="card-content center-align">
    					<div class="row">
    						<div class="col s10 offset-s1 left-align">
    							<div id="day" style="font-size: 25px; font-weight: 300;"></div>
    							<div id="date" style="font-size: 25px; font-weight: 300;  margin-bottom: 5px;"></div>
    							<div id="weather" style="font-size: 20px; font-weight: 100; margin-bottom: 10px;">
    								<span>
    									<span><i id="status" style="font-size: 20px;"></i></span>&nbsp;
    									<i class="wi wi-thermometer" style="font-size: 20px;"></i>&nbsp;<span id="high"></span><i class="wi wi-degrees" style="font-size: 20px;"></i>&nbsp;
    									<i class="wi wi-thermometer-exterior" style="font-size: 20px;"></i>&nbsp;<span id="low"></span><i class="wi wi-degrees" style="font-size: 20px;"></i>&nbsp;
    									<i id="wind_dir" class="wi wi-direction-up-right" style="font-size: 20px;"></i>&nbsp;<span id="wind_speed"></span>&nbsp;<sup>mph</sup>&nbsp;
    									<!-- <span><i class="wi wi-strong-wind"></i>&nbsp;5&nbsp;<span style="font-size: 10px; font-weight: 100;">mph</span></span> -->
    								</span>
    							</div>
    							<p class="risk_text">
    							Your tree is at <span id="risk" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Explanation of risk."></span> of potentially causing damage.
								</p>
    						</div>
    					</div>
    					
						<!-- <span class="deep-orange-text text-lighten-1" style="font-size: 30px; font-weight: 700;">HIGH RISK</span></br> -->
						<!-- <span class="amber-text text-lighten-1" style="font-size: 30px; font-weight: 700;">MEDIUM RISK</span></br> -->
						<!-- <span class="green-text text-lighten-1" style="font-size: 30px; font-weight: 700;">LOW RISK</span></br> -->
						<!-- <span class="light-blue-text text-lighten-1" style="font-size: 30px; font-weight: 700;">MINIMAL RISK</span> -->
						
    				</div>
	    			<div class="card-action">
	    			<div class="chip tooltipped" data-position="left" data-delay="50" data-tooltip="High Wind Warning in your area.">
						    			Weather
					    <i class="icon_alert material-icons">error</i>
					    <i class="close material-icons">close</i>
					  </div>
					  <div class="chip tooltipped" data-position="left" data-delay="50" data-tooltip="Your sensor battery is at 29%.">
						    			Battery
					    <i class="icon_alert material-icons">error</i>
					    <i class="close material-icons">close</i>
					  </div>
					  <div class="chip tooltipped" data-position="left" data-delay="50" data-tooltip="Some random information.">
						    			Information
					    <i class="icon_info material-icons">info</i>
					     <i class="close material-icons">close</i>
					  </div>
	    				
	    				<!--<div style="font-size: 18px; font-weight: 300;"><i class="wi wi-wind towards-29-deg" style="font-size: 20px;"></i>&nbsp;Your tree has shifted 29 degrees.</div>-->
	            	</div>
				</div>
			</div>
		</div>
	</body>
</html>	

<script>
$(document).ready(function(e) {

Highcharts.chart('container', {
	title: { text: "Example Chart"},
	legend: {
		enabled: false
	},
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    yAxis: {
    	title: "Movement"
    },
    series: [{
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
        type: 'column'
    }]

});
	update_content();
    var refresher = setInterval("update_content();",5000); // 30 seconds

})

function update_content(){
	update_risk();
	update_weather();
	update_date();
}

function nth(d) {
  if(d>3 && d<21) return 'th'; // thanks kennebec
  switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
    }
}

function update_date(){
	var d = new Date();
	var month = "January,February,March,April,May,June,July,August,September,October,November,December".split(",")[d.getMonth()];
	var weekday =  "Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday".split(",")[d.getDay()];
	var ordinal = nth(d.getDate())

	$("#day").text(weekday + ",");
	$("#date").text(month + " " + d.getDate() + ordinal);
}

function update_risk(){
    $.ajax({
		type: "GET",
		url: "http://127.0.0.1:5000/risk",
		cache: false,
		data: { get_param: 'value' }, 
		dataType: 'json',
		success: function (data) { 
			var output_risk = data.risk;

			switch(output_risk) {
			    case "EXTREME":
			        $("#risk").attr("class","risk_value tooltipped red-text text-lighten-1");
			        break;
			    case "HIGH":
			        $("#risk").attr("class","risk_value tooltipped deep-orange-text text-lighten-1");
			        break;
			    case "MEDIUM":
			        $("#risk").attr("class","risk_value tooltipped amber-text text-lighten-1");
			        break;
			    case "LOW":
			        $("#risk").attr("class","risk_value tooltipped green-text text-lighten-1");
			        break;
			    case "MINIMAL":
			        $("#risk").attr("class","risk_value tooltipped light-blue-text text-lighten-1");
			        break;
			    default:
			    	output_risk = "UNKNOWN"
			        $("#risk").attr("class","risk_value tooltipped light-blue-text text-lighten-1");
			        break;
			}
			output_risk += " RISK";

			$("#risk").text(output_risk);
		}
	}); 
}

function update_weather(){
    $.ajax({
		type: "GET",
		url: "http://127.0.0.1:5000/current_weather",
		cache: false,
		data: { get_param: 'value' }, 
		dataType: 'json',
		success: function (data) { 
			var output_risk = data.high + " " + data.low + " " + data.status + " " + data.wind_speed + " " + data.wind_dir ;

			switch(data.status.charAt(0)) {
			    case '2':
			        $("#status").attr("class","wi wi-thunderstorm");
			        break;
			    case '3':
			        $("#status").attr("class","wi wi-sprinkle");
			        break;
			    case '5':
			        $("#status").attr("class","wi wi-rain");
			        break;
			    case '6':
			        $("#status").attr("class","wi wi-snow");
			        break;
			    case '7':
			        $("#status").attr("class","wi wi-fog");
			        break;
			    case '8':
			    	switch(data.status){
			    		case "800":
					        var hour = (new Date).getHours();
					        var quarter = Math.floor(hour/6);

					        if((quarter == 0) || (quarter == 3))
					        {
					        	$("#status").attr("class","wi wi-night-clear");
					        }
					        else
					        {
					        	$("#status").attr("class","wi wi-day-sunny");
					        }
					        break;
					    case "801":
					        var hour = (new Date).getHours();
					        var quarter = Math.floor(hour/6);
					        
					        if((quarter == 0) || (quarter == 3))
					        {
					        	$("#status").attr("class","wi wi-night-alt-cloudy");
					        }
					        else
					        {
					        	$("#status").attr("class","wi wi-day-cloudy");
					        }
					        break;
					    default:
					        $("#status").attr("class","wi wi-cloudy");
			        		break;
			    	}
			        break;
			    default:
			        $("#status").attr("class","wi wi-na");
			        break;
			}

			switch(data.wind_dir){
				case "N":
					$("#wind_dir").attr("class","wi wi-direction-up");
					break;
				case "NE":
					$("#wind_dir").attr("class","wi wi-direction-up-right");
					break;
				case "E":
					$("#wind_dir").attr("class","wi wi-direction-right");
					break;
				case "SE":
					$("#wind_dir").attr("class","wi wi-direction-down-right");
					break;
				case "S":
					$("#wind_dir").attr("class","wi wi-direction-down");
					break;
				case "SW":
					$("#wind_dir").attr("class","wi wi-direction-down-left");
					break;
				case "W":
					$("#wind_dir").attr("class","wi wi-direction-left");
					break;
				case "NW":
					$("#wind_dir").attr("class","wi wi-direction-up-left");
					break;
			}

			$("#high").text(data.high);
			$("#low").text(data.low);
			$("#wind_speed").text(data.wind_speed);
		}
	}); 
}


</script>